/*todos los repetidos*/
.slogan, nav, .navegacion.show, .cont_ventas, .venta_destaca, .cont_foto_vent, .cont_ofertas, .cont_foto_oferta, .cont_mapa, .cont_foto_catalogo, .article_form, .cont_boton, .botonera, .captchaMensaje{
    display: flex;
}

header, .botonera, .navegacion, .foto_ventas, .cont_lista_catalogo ul, .bienvenida_historia{
    margin: 0%;
}

body.modo-claro, body.modo-oscuro {
    transition: background-color 0.3s;
}

nav, .cont_foto_vent, .cont_foto_oferta, .cont_foto_catalogo, .article_form, .cont_boton, .captchaMensaje{
    justify-content: center;
}

.titulo, .slogan, .titulo_ventas, .titulo_ofertas, .info_mapa, .producto_catalogo, .variedad_catalogo, .precio_catalogo{
    text-align: center;
}

.btn_menu a, .navegacion{
    text-decoration: none;
}

nav, .botonera, .navegacion, .cont_foto_vent, table{
    width: 100%;
}

.cont_boton, .venta_destaca, .cont_foto_oferta, form{
    margin: 2%;
}

.titulo_historia, .precio_catalogo, .titulo_ofertas, .resaltar_mapa, .producto_catalogo{
    font-weight: bold;          
}

button{
    cursor: pointer;
}



/* modo claro */
.modo-claro header{
    background-image: url(../images/fondoLogoClaro.png);
}

body.modo-claro{
    background-color: #FFD4AA;
}

.modo-claro div, .modo-claro p, .modo-claro a, .modo-claro button, .modo-claro span, .modo-claro tr{
    color: #552A00;
}

.modo-claro .btn_menu, .modo-claro button, .modo-claro nav, .modo-claro footer{
    background-color: #D49F6A;
}

.modo-claro .cont_mapa, .modo-claro .navegacion li a:hover{
    background-color: #C77A2F;
}

.modo-claro .oferta_destaca, .modo-claro th, .modo-claro form{
    background-color: #F4A251;
}

.modo-claro form, .modo-claro .oferta_destaca{
    border-color: #F4A251;
    box-shadow: 6px 6px 9px #F4A251;
}

.modo-claro .article_form, .modo-claro .venta_destaca{
    background-color: #F8AF67;
}

.modo-claro td{
    background-color: #FFC184;
}

.modo-claro th, .modo-claro td{
    border: solid #C77A2F;
}

.modo-claro .venta_destaca{
    border-color: #F8AF67;
    box-shadow: 6px 6px 9px #F8AF67;
}

.modo-claro .btn_menu, .modo-claro button{
    box-shadow: 10px 10px 5px gray;
    border: 2px solid #552A00;
}



/* modo oscuro */
.modo-oscuro header{
    background-image: url(../images/fondoLogoOscuro.png);
}

body.modo-oscuro{
    background-color: #552A00;
}

.modo-oscuro div, .modo-oscuro p, .modo-oscuro a, .modo-oscuro button, .modo-oscuro span, .modo-oscuro tr{
    color: #F8AF67; 
}

.modo-oscuro .btn_menu, .modo-oscuro button, .modo-oscuro nav, .modo-oscuro footer{
    background-color: #974F08;
}

.modo-oscuro .navegacion li a:hover, .modo-oscuro .cont_mapa{
    background-color: #3E1F00;
}

.modo-oscuro .oferta_destaca, .modo-oscuro th, .modo-oscuro form{
    background-color: #6E3D0C;
}

.modo-oscuro form, .modo-oscuro .oferta_destaca{
    border-color: #6E3D0C;
    box-shadow: 6px 6px 9px #6E3D0C;
}

.modo-oscuro .article_form, .modo-oscuro .venta_destaca{
    background-color: #6B4A2B;
}

.modo-oscuro td{
    background-color: #6B4A2B;
}

.modo-oscuro th, .modo-oscuro td{
    border: solid #974F08;
}

.modo-oscuro .venta_destaca{
    border-color: #6B4A2B;
    box-shadow: 6px 6px 9px #6B4A2B;
}

.modo-oscuro .btn_menu, .modo-oscuro button{
    box-shadow: 10px 10px 5px #281604;
    border: 2px solid #552A00;
}



/* todo lo relacionado con el header */
header{
    padding: 1%;
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
    "titulo titulo slogan"
    "titulo titulo slogan"
    "botonera botonera botonera";
}

.titulo {grid-area: titulo;}
.slogan {grid-area: slogan;}
.botonera {grid-area: botonera;}

.titulo{
    font-size: 280%;
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    align-content: center;
}

.slogan{
    font-size: 105%;
    font-style: italic;
    align-items: center;
}



/* todo lo relacionado con la barra de nav */
.botonera{
    justify-content: space-around;
    align-items: center;
    padding: 0%;
    margin-bottom: 3%;
}

.btn_menu, .btn_accion{
    padding: 15px;
    border-radius: 25px;
}

.navegacion{
    padding: 0%;
    display: none;
    flex-direction: column;
    justify-content: space-around;
}

.navegacion li{
    list-style: none;
    margin: 0%;
    padding: 0%;
}

.navegacion li a{
    display: flex;
    text-decoration: none;
    font-size: 136%;             
    padding: 15px 20px;
    cursor: pointer; 
}



/* todo lo relacionado con el main*/
.main_index{
    display: grid;
    grid-template-areas:
        "ventas"
        "promociones"
        "cont_mapa";
}

.ventas {grid-area: ventas;}
.cont_mapa {grid-area: cont_mapa;}
.promociones {grid-area: promociones;}



/* todo lo relacionado con ventas */
.cont_ventas{
    flex-direction: column;
    justify-content: space-between;
}

.venta_destaca{
    flex-direction: column;
    border-style: solid;
    margin-left: 0.5%;
}

.cont_foto_vent{               
    margin-top: 3%; 
}

.foto_ventas{
    width: 95%;
}

.info_ventas{
    margin: 3%;
    padding-top: none;
}

.titulo_ventas{
    font-size: 200%;
}

.precio_ventas{
    font-size: 110%;
    text-align: right;
}



/* todo lo relacionado con el ofertas */
.cont_ofertas{
    flex-direction: column;
    justify-content: space-around;
    padding: 1%;
}

.oferta_destaca{
    border-style: solid;
    margin: 3%;
}

.foto_ofertas{
    width: 70%;
}

.titulo_ofertas, .descripcion_ofertas{
    margin: 1.5%;
}

.descripcion_ofertas, .descripcion_ventas{
    font-size: 120%;
}

.titulo_ofertas{
    font-size: 160%;
}



/* todo lo relacionado con el mapa */
.cont_mapa{
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 1%;
    flex-direction: column;
}

.info_mapa{
    margin: 1%;
    font-size: 130%;
}

.maps{
    margin: 1%;
}



/* todo lo relacionado con el footer */
footer{
    padding: 2%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "navegacion_footer contactanos";
}

.contactanos {grid-area: contactanos;}
.navegacion_footer {grid-area: navegacion_footer;}

.cont_contact_footer{
    text-align: right;
}

.cont_contact_footer, .cont_nav_footer{
    font-size: 105%;
}

.cont_nav_footer a{
    text-decoration: none;
}

.cont_nav_footer p, .cont_contact_footer p:first-child{
    font-size: 118%;
    font-weight: bold;
}



/* todo lo relacionado con la tabla */
table{
    border-collapse: collapse;
    margin-top: 1%;
    margin-bottom: 1%;
}

th{ 
    padding: 0.5%;
    font-size: 132%;
}

td{ 
    padding: 0.5%;
    font-size: 121%;
}

.producto_catalogo{
    font-size: 130%;
}

.variedad_catalogo{
    font-size: 80%;
    margin-top: 2%;
}

.cont_foto_catalogo img{
    width:200px;
    height:auto;
}

.cont_lista_catalogo ul{
    padding: 6%;
    padding-top: 3%;
    font-size: 78%;
}

.cont_lista_catalogo{
    vertical-align: top; 
    text-align: left;
    padding-left: 3%;
}

.precio_catalogo{
    font-size: 130%;
}



/* todo lo relacionado con el form */
.article_form{
    margin-top: 1%;
    margin-bottom: 1%;
}

form{
    border-style: solid;
}

.input_form{
    margin: 5%;
    margin-right: 0%;
    font-size: 130%;
}

textarea{
    width: 80%;
    height: 100px; 
    resize: none; 
}

.cont_boton{
    justify-content: space-around;
}



/* todo lo relacionado con la historia*/
.titulo_historia{
    font-size: 165%;
    margin-top: 1%;
    margin-bottom: 0.5%;         
    text-decoration: underline;
}

.bienvenida_historia{
    font-size: 133%;
    font-style: italic;
}

.texto_historia{
    font-size: 117%;
    margin-top: 0.3%;
    margin-bottom: 0.6%;
}



/* todo lo relacionado con el carrito*/
.main_carrito{
    display: grid;
}

td button{
    margin: 3%;
}

.article_tabla_dinam div button{
    margin: 1%;
}

#filaTabla tr td{
    text-align: center;
    font-weight: bold;   
    font-size: 130%;
}



/* solo para pantallas superiores a 660px */
@media only screen and (min-width: 660px) {
header{
    grid-template-areas: 
    "titulo titulo slogan"
    "titulo titulo slogan"
    "titulo titulo botonera";
}

.titulo{
    font-size: 440%;
}

.slogan{
    font-size: 130%;
}

.btn_menu {
    display: none;
}

ul.navegacion {
    display: flex;
    flex-direction: row;
}

.main_index{
    display: grid;   
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
           "cont_ventas cont_ofertas"
           "section section";
  }

    .cont_ventas {grid-area: cont_ventas;}
    .cont_ofertas {grid-area: cont_ofertas;}
    section {grid-area: section;}

 
.venta_destaca{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-template-areas: 
    "foto_ventas  info_ventas info_ventas";
}

.foto_ventas {grid-area: foto_ventas;}
.info_ventas {grid-area: info_ventas;}

.foto_ventas{
    width: 100%;
}

.cont_foto_vent{
    margin: 2%;    
}

.oferta_destaca{
    margin: 1%;
}

.cont_lista_catalogo ul{
    font-size: 100%;
}

.cont_lista_catalogo{
    padding-left: 0%;
}

.cont_mapa{
    padding: 0%;
    display: grid;   
    grid-template-columns: 33% 33% 33%;
    grid-template-areas: 
           "maps maps info_mapa";
}

.maps {grid-area: maps;}
.info_mapa {grid-area: info_mapa;}

.info_mapa{
    text-align: center;
}
}